In [6]:
import pandas as pd

## Reading input datafile

In [44]:
df = pd.read_csv("c1_mountains.csv")
df.set_index("Mountain", inplace=True)
df.head()

,Rank,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,1,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
K2 / Qogir / Godwin Austen,2,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
Kangchenjunga,3,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
Lhotse,4,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,5,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

## Dropping columns and rows

In [40]:
df.drop(["Rank", "Height (ft)", "Coordinates", "Parent mountain"], axis=1, inplace=True)
df.drop(
    ["Mount Everest / Sagarmatha / Chomolungma", "Muztagh Ata"], axis=0, inplace=True
)

## Cleaning data

In [45]:
df = df[df["First ascent"] != "unclimbed"].copy()
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110 entries, K2 / Qogir / Godwin Austen to Lupghar Sar
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rank                       110 non-null    int64
 1   Height (m)                 110 non-null    int64
 2   Height (ft)                110 non-null    int64
 3   Prominence (m)             110 non-null    int64
 4   Range                      110 non-null    object
 5   Coordinates                110 non-null    object
 6   Parent mountain            110 non-null    object
 7   First ascent               110 non-null    object
 8   Ascents bef. 2004          110 non-null    object
 9   Failed attempts bef. 2004  110 non-null    float64
dtypes: float64(1), int64(4), object(5)
memory usage: 9.5+ KB

## Fixing datatypes

In [46]:
df["First ascent"] = df["First ascent"].astype('int32')
df["Ascents bef. 2004"] = df["Ascents bef. 2004"].astype('int32')
df["Failed attempts bef. 2004"] = df["Failed attempts bef. 2004"].astype('int32')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110 entries, K2 / Qogir / Godwin Austen to Lupghar Sar
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rank                       110 non-null    int64
 1   Height (m)                 110 non-null    int64
 2   Height (ft)                110 non-null    int64
 3   Prominence (m)             110 non-null    int64
 4   Range                      110 non-null    object
 5   Coordinates                110 non-null    object
 6   Parent mountain            110 non-null    object
 7   First ascent               110 non-null    int32
 8   Ascents bef. 2004          110 non-null    int32
 9   Failed attempts bef. 2004  110 non-null    int32
dtypes: int32(3), int64(4), object(3)
memory usage: 8.2+ KB

## Saving new datafile

In [43]:
new_filename = "Mountains_Cleaned.csv"
df.to_csv(new_filename, encoding="utf-8")