In [3]:
import pandas as pd

# Load data
data_df = pd.read_csv("c4_brain-body-weights.csv")

# First five rows
data_df.head()

   body  brain                     mammal
0   1.6   -2.0  Lesser short-tailed shrew
1   2.3   -1.4           Little brown bat
2   3.1   -1.2              Big brown bat
3   3.1   -0.9                      Mouse
4   3.9   -1.1                 Musk shrew

In [2]:
import tensorflow as tf